/* classes de estilização */

.fundo {
    height: calc(100vh - 64px); /* 64px referente ao toolbar */
    width: 100%;
    background-image: url(./img/teste.png);
    background-size: cover;
}

.quadro-login {
    padding-top: 20px;
    width: 40%;
    height: 80%;
    position: relative;
    background-color: rgb(233, 233, 233);
    border-radius: 1rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.credenciais {
    margin-top: 15%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    width: 70%;
}

.botao {
    margin-top: 10%;
    width: 100%;
}

.mt {
    margin-top: 10px;
}
