<div class="fundo">
    <div class="quadro-login">
        <h3>Seja bem-vindo!</h3>
        <span class="mat-caption">Faça seu login</span>
        <form class="credenciais">
            <mat-form-field appearance="legacy">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Ex: pat@outlook.com">
            </mat-form-field>
            <mat-form-field appearance="legacy">
                <mat-label>Senha</mat-label>
                <input matInput type="password">
            </mat-form-field>

            <button mat-raised-button color="warn" class="botao">Entrar</button>
            <a routerLink="/usuario/cadastrar" class="mt mat-caption">Ainda não é cadastrado? Clique aqui</a>
        </form>
    </div>
</div>