<div class="principal">
    <div class="quadro-conteudo">
        <form>
            <mat-form-field appearance="legacy">
                <mat-label for="nome">Nome:</mat-label>
                <input matInput type="text" name="nome" [(ngModel)]="nome" />
            </mat-form-field>
            <mat-form-field appearance="legacy">
                <mat-label for="login">Email:</mat-label>
                <input matInput [formControl]="email" type="text" name="login" [(ngModel)]="login" required />
                <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="legacy">
                <mat-label for="senha">Senha:</mat-label>
                <input matInput [formControl]="password" name="senha" [(ngModel)]="senha" required/>
                <mat-error *ngIf="password.invalid">{{getPassError()}}</mat-error>
            </mat-form-field>
        </form>
        <p id="captionCadastro"></p>
        <div class="botoes">
            <button mat-raised-button color="basic" class="botao" [disabled]="password.invalid || email.invalid" (click)="cadastrar()">Cadastrar</button>
            <button mat-raised-button color="warn" routerLink="">Voltar</button>
        </div>
    </div>
</div>