<h1 class="center">Cadastrar médico</h1>
<div id="crm">
    <label for="crm">CRM: </label>
    <input type="text" name="crm" [(ngModel)]="crm" />
</div>
<div id="nome">
    <label for="nome">Nome: </label>
    <input type="text" name="nome" [(ngModel)]="nome" />
</div>
<div id="especialidade">
    <label for="especialidade">Especialidade: </label>
    <input type="text" name="especialidade" [(ngModel)]="especialidade" />
</div>
<br>
<button (click)="cadastrar()" class="btn">Cadastrar</button>
<br><br>
<button class="btn"><a routerLink="/medico/listar">Voltar</a></button>