<table mat-table [dataSource]="consultas" class="table mat-elevation-z8">
    <!-- Coluna data consulta -->
    <ng-container matColumnDef="dataconsulta">
        <th mat-header-cell *matHeaderCellDef>Data da Consulta</th>
        <td mat-cell *matCellDef="let consulta">{{ consulta.dataconsulta }}</td>
    </ng-container>
    <!-- Coluna do usuario -->
    <ng-container matColumnDef="usuario">
        <th mat-header-cell *matHeaderCellDef>Usuario</th>
        <td mat-cell *matCellDef="let consulta">{{ consulta.usuario }}</td>
    </ng-container>
    <!-- Coluna do medico -->
    <ng-container matColumnDef="medico">
        <th mat-header-cell *matHeaderCellDef>Medico</th>
        <td mat-cell *matCellDef="let consulta">
            {{ consulta.medico!.nome }}
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="colunasExibidas"></tr>
    <tr mat-row *matRowDef="let row; columns: colunasExibidas"></tr>
</table>

<button mat-raised-button><a routerLink="/consulta/cadastrar">Cadastrar nova consulta</a></button>
