<mat-toolbar color="warn">
    <button (click)="sidenav.toggle()" mat-icon-button>
        <mat-icon>menu</mat-icon>
    </button>
    <span>ConsultarMais</span>
</mat-toolbar>
<mat-sidenav-container class="container">
    <mat-sidenav #sidenav mode="side">
        <mat-nav-list>
            <a mat-list-item routerLink="/consulta/cadastrar">
                <mat-icon class="icon">add</mat-icon>Nova consulta</a
            >
            <a mat-list-item routerLink="/consulta/listar">
                <mat-icon class="icon">list</mat-icon>Listar consultas</a
            >
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="content">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>